body{
	text-align: center;
}

h1{
	font-size: 5em;
	margin: 50px auto 100px auto;
}

table{
	border: 2px solid black;
	width:100%;
	max-width: 800px;
	margin: auto;
	text-align: center;
}

thead{
	margin: 20px; 
}

td{
	border: 1px solid gray;
	margin: 5px;
	padding: 0px;
}